.auth {
    .bg-login-image {
        background: url("/assets/images/vinhhalong1.jpg");
        background-position: center;
        background-size: cover;
    }
}


.required-label {
    color: red;
}
.error {
    color: red;
    font-size: 14px;
    font-style: italic;
}

.icon {
    font-size: 18px;
}
.icon-edit {
    color: #0a58ca;
    cursor: pointer;
}

.icon-delete {
    color: red;
    cursor: pointer;
}

.image-preview {
    width: 200px;
    height: 200px;
}

.show-image-preview {
    width: 100px;
    height: 100px;
}
.preview-slider {
    cursor: pointer;
    width: 100%;
    height: 450px;
    border: 5px #00a1ff dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #00a1ff;
    flex-direction: column;
    .text-preview {
        display: block;
        font-size: 20px;
        font-weight: 600;
    }
}

.layout-admin-custom {
    .breadcrumb-header {
        .breadcrumb {
            margin: 0;
            font-size: 20px;
        }
    }
}

.custom-dark-app {
    img {
        vertical-align: middle;
    }
    ol.breadcrumb {
        margin: 0;
        font-size: 18px;
    }
    .dropdown-toggle::after {
        font-family: "Font Awesome 5 Pro";
    }


}

.body-dark {
    height: 100%;
    .main-container {
        height: 100%;
    }

    .breadcrumb-item::before {
        font-family: "Font Awesome 5 Pro";
    }
}
