.auth .bg-login-image {
  background: url("/assets/images/vinhhalong1.jpg");
  background-position: center;
  background-size: cover;
}

.custom-dark-app img {
  vertical-align: middle;
}
.custom-dark-app ol.breadcrumb {
  margin: 0;
  font-size: 18px;
}
